body { font-family: cursive;
    font-size: large;
     background-color: #e6e68cba;
     color: #171111; 
     margin: 0;
     padding: 0;
     } 
header {
     background-color: #5a81b8; 
     color: white; 
     padding: 20px; 
     text-align: center;
     } 
.container { 
    width: 80%; 
    margin: auto; 
    overflow: hidden; 
} 
.author-info img { 
    float: left; 
    margin-right: 20px; 
    max-width: 200px;
    border-radius: 8px; 
    float: inline-start;
} 
.book-details img { 
    float: left; 
    margin-right: 20px; 
    max-width: 200px; 
    border-radius: 8px;
    float: inline-end;
 } 
.reviews { 
    background-color: #ffffff; 
    border: 1px solid #ccc; 
    padding: 10px; 
    margin-bottom: -90px;
    border-radius: 5px; 
    } 
.review h3 {
     margin: 0; 
     color: #7f1705;
     } 
.review p {
    font-family: cursive;
     font-size: 1em; 
     color: #555; 
}